body {
  background: #f6f1e7;
  font-family: Georgia, serif;
  text-align: center;
  padding: 30px;
}

h1 {
  font-size: 32px;
}

a {
  font-size: 24px;
  text-decoration: none;
  color: #5a3e2b;
}
