body {
  background: #fbf7ef;
  color: #2b2b2b;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 22px;
  line-height: 1.8;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
}

h1, h2 {
  font-weight: normal;
  text-align: center;
}

a {
  color: #444;
  text-decoration: none;
  font-size: 18px;
}

.menu {
  text-align: center;
  margin-bottom: 30px;
}